html {
  --text-colour: black;
  --background-colour: white;

  color: var(--text-colour);
  background-color: var(--background-colour);
}

html.dark {
  --text-colour: white;
  --background-colour: black;
}
